<div>
    <ul>
        {{#each productList}}
        <li>
            <p>Nombre: {{this.title}}</p>
            <p>Descripción: {{this.description}}</p>
            <p>Precio: {{this.price}}</p>
            <p>Categoría: {{this.category}}</p>
        </li>
        {{/each}}
    </ul>
</div>
